[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyperf = "*"
hypothesis-jsonschema = "*"
pandas = "*"
python-constraint = "*"

[dev-packages]
PrettyTable = "*"
pylint = "*"
neovim = "*"
black = "*"
pytest = "*"
pytest-benchmark = "*"
hypothesis = "*"
pyperf = "*"
codecov = "*"
"flake8" = "*"
pytest-cov = "*"

[requires]
python_version = ">=python 3.6"

[pipenv]
allow_prereleases = true
