[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyperf = "*"
hypothesis = "*"
hypothesis-jsonschema = "*"
pandas = "*"
ptable = "*"
colorama = "*"

[dev-packages]
pylint = "*"
neovim = "*"
black = "*"
pytest = "*"
pytest-benchmark = "*"
codecov = "*"
flake8 = "*"
pytest-cov = "*"
deap = "*"
python-constraint = "*"

[pipenv]
allow_prereleases = true
